.card-image{ 
    max-height: 300px;
    max-width: 13rem;

}
.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px  #4b98e0;
  }

  button {
    
    background-color: #e04b52;
    border: none;
    border-radius: 5px;
    
    max-width: 13rem;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }
  
  button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }

  